.calendar .month {
    background-color: rgb(109, 109, 109);
    padding-bottom: 10px;
    padding-top: 8px;
    color: whitesmoke;
    text-align: center;
}

.month li {
    display: inline-block;
}

.calendar ul {
    list-style-type: none;
    padding:0%;
}

.month .next {
    float: right;
    padding-right: 10px;
    border: none;
    background-color: none;
}
.month .prev {
    float: left;
    padding-left: 10px;
}
  

.days li {
    list-style-type: none ;
    display: inline-block;
    text-align: center;
    width: 13%;
    margin-left: 0px;
    padding: 0;
}

.month ul {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 0;
    padding: 0;
}
.weekdays {
    margin: 0;
    padding: 10px 0px;
    padding-top: 50px;
    background-color: rgba(0,0,0,0.2);
}
.weekdays li {
    display: inline-block;
    text-align: center;
    width: 13%;

}

.dia {
    border: none;
    background-color: white;
}

.change {
    border: none;
    background-color: rgb(109, 109, 109);
}

.event {
    text-decoration: none;
}

.hoje {
    background-color: rgb(255, 235, 124);
    border-radius: 50%;
}

#diaVazio {
display: none;
overflow: hidden;
}

#blankSpace {
    visibility: hidden;
    width: 13%;
}