<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="./style.css">
<h1>Janeiro</h1> 
<% for (let j = 1; j<=5; j++) {%> 
<div class="card-group ps-50 border-dark" style="width: 50rem; height: 8rem;">
<% for (let i =1; i<=7;i++) {%> 
<div class="card border-dark" style="width: 1rem; height: 8rem;">
    <div class="card-body">
      <h5 class="card-title"><%= i+(j-1)*7 %> </h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">    <span class="badge bg-primary rounded-pill">1</span>      </p>
    </div>
  </div>
  <% } %> 
</div>
<% } %> 